[Desktop Entry]
Type=Application
Name=Word Shuffle
Comment=Shuffle word and phrase lists into clickable blocks
Exec=/home/cport/Git/Word_Shuffle/run-word-shuffle.sh %f
Icon=/home/cport/Git/Word_Shuffle/word-shuffle.svg
Terminal=false
Categories=Utility;
MimeType=application/x-word-shuffle;
StartupNotify=true
