[Desktop Entry]
Type=Application
Name=Word Shuffle
Comment=Shuffle word and phrase lists into clickable blocks
Exec=word-shuffle %f
Icon=io.github.CytheCy.WordShuffle
Terminal=false
Categories=Utility;
MimeType=application/x-word-shuffle;
StartupNotify=true
